*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt

# Ignore tmp and log across all subdirectories
tmp/
**/tmp/
log/
**/log/
*.log

# Ruby & Rails
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-shm
/db/*.sqlite3-wal
/storage/
**/storage/
/.bundle/
**/.bundle/
/vendor/bundle
**/vendor/bundle

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# IDE / OS
.DS_Store
.idea/
.vscode/
